VITE_AUTH_URL=https://id.grudge-studio.com
VITE_API_URL=https://api.grudge-studio.com
VITE_ACCOUNT_URL=https://account.grudge-studio.com
VITE_LAUNCHER_URL=https://launcher.grudge-studio.com
VITE_WS_URL=wss://ws.grudge-studio.com
VITE_MINIO_URL=https://storage.grudge-studio.com
